@font-face {
  font-family: 'Aeonik Pro';
  src: url('../fonts/AeonikPro-Regular.woff2') format('woff2'),
  url('../fonts/AeonikPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Tight';
  src: url('../fonts/InterTight-Regular.woff2') format('woff2'),
  url('../fonts/InterTight-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Tight';
  src: url('../fonts/InterTight-Medium.woff2') format('woff2'),
  url('../fonts/InterTight-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}