.html {
  position: relative;
  overflow-x: hidden;
  @include r($sm) {
    overflow-y: hidden;
  }
  @media (max-height: 590px) {
    overflow-y: visible;
  }
}

.body {
  @include bg;
  background-position: top;
  font-family: $interTight;
  font-weight: 400;
  min-height: 100vh;
  font-size: 24px;
  background-image: url("../images/home.webp");
  line-height: 1.5;
  color: #BAC3FF;
  background-color: #04092C;
  overflow-x: hidden;
  @media (max-height: 670px) {
    font-size: 22px;
  }
  @include r($desktop) {
    font-size: 22px;
  }
  @include r($sm) {
    font-size: 20px;
  }
  @include r($phone) {
    font-size: 18px;
  }
}

.container {
  max-width: 1415px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: rgba($accent, 0.2);
}

::-webkit-scrollbar-thumb {
  background-color: $accent;
}

::selection {
  background-color: $accent;
  color: $white;
}